<html>
<head>

<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/460/fabric.min.js" integrity="sha512-ybPp3kCrNQXdvTfh99YLIdnajWnQvHuEKDJ+b26mxI9w+pLhnBo3HmNLJ1pEUBFO1Q0bfJxApeqecNbmaV763g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Press Start 2P" rel="stylesheet">
<link href="static/styles.css" rel="stylesheet">

</head>
<body>
<header>
<h2> Hypha Picker version 0</h2>
<button class="nes-btn" id="myBtn">Tablet Link</button>
</header>
<hr>

<div class="nes-container with-title main">

    <p class="title" id="prop_name"> choose a file </p>
    <p> Use the form below to view an image. </p>

    <div class="row">

        <div class="nes-container with-title files">
            <p class="title">Folder</p>

            <form id="imageform" action="/api/img">
              {% for name, value in listing %}
                  <label>
                  <input type="radio" class="nes-radio smaller" name="file" value="{{value}}"/>
                  <span>{{name}}</span>
                  <!-- {{name}} -->
                  </label>
                  <br>
              {% endfor %}

              <div class="update-buttons">
                  <label for="channel">channel:</label>
                  <input class="nes-input" type="number" id="channel" name="channel" value="0"><br>
                  <label for="size">size:</label>
                  <input class="nes-input" type="number" id="size" name="size" value="512"><br>
                  <br>
                  <input class="nes-input nes-pointer" type="submit" value="Update">
              </div>
            </form>
        </div>

        <div class="nes-container with-title viewport" id="picker">
            <p class="title">Picker</p>
            <canvas id="viewer" width="512" height="512"></canvas>

            <button type="button" class="nes-btn" id="clear">Clear</button>
            <button type="button" class="nes-btn" id="export">Export</button>
            <button type="button" class="nes-btn" id="btn-next">Next</button>

        </div>
    </div>
</div>

<div class="metatable" id="metadiv">
    <h3 id="metadata-title"> metadata </h3>
    <div class="nes-table-responsive">
      <table class="nes-table is-bordered is-centered" id="table">
      </table>
    </div>
</div>

<!-- MODAL BEGIN -->

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Scan this QR code to work on a tablet.</p>
    <p>Progress isn't saved yet, so you will have to start over.</p>
    <img src="{{qrcode}}"/>
  </div>
</div>
<!-- END MODAL -->

</body>
<script src="static/script.js"></script>
</html>
