<html>
<head>
</head>
<body>
<p>{{ text }}</p>
<form action="/img" method="post">


  {% for name, value in listing %}
      <label>
      <input type="radio" name="file" value="{{value}}">
      {{name}}
      </label>
      <br>
  {% endfor %}

  <label for="channel">channel:</label>
  <input type="number" id="channel" name="channel" value="0"><br>
  <label for="scale">scale:</label>
  <input type="number" id="scale" name="scale" value="10"><br>
  <input type="submit" value="Submit">
</form>
</body>
</html>
